<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/favicon.png">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <p>This site was created by Tommy. It uses data from mapbox.com and weatherstack.com.</p>
            <img class="profimg" src="/img/me.jpg">
        </div>
        {{>footer}}

    </body>
</html>