body{
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 650px;

    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.main-content{
    flex-grow:1;
}

header{
    margin-top:16px;
    margin-bottom:48px;
}

header a{
    color:green;
    margin-right: 16px;
    text-decoration: none;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
}
header a:hover{
    background:green;
    color: white;
}

footer{
    color:#888888;
    border-top:1px solid #eeeeee;
    margin-top:16px;
    padding:16px 0;
}

h1{
    font-size:64px;
    margin-bottom:16px;
}

.profimg{
    width:250px;
}

input{
    border: 1px solid #cccccc;
    border-radius:5px;
    padding:8px;
}

button{
    cursor:pointer;
    border:1px solid #888888;
    background:#888888;
    color:white;
    padding: 8px;
    border-radius:5px;
}